<!DOCTYPE html>
<html>

<head>
   <title>ぶいすぽっ！</title>
</head>

<body>
   <nav id="navbar">
      <div id="title">Vspo宣傳大使</div>
      <ul>
         <li routerLink=" ">首頁</li>
         <li routerLink="/member">成員</li>
         <li routerLink="/forum">討論區</li>
         <li>關於我們</li>
         <li>聯繫我們</li>
      </ul>
   </nav>

   <div id="content">
      <div id="carousel">
         <img src="./assets/圖片/image1.jpg" alt="Image 1">
         <img src="./assets/圖片/image2.jpg" alt="Image 2">
         <img src="./assets/圖片/image3.jpg" alt="Image 3">
         <img src="./assets/圖片/image4.jpg" alt="Image 4">
      </div>
      <router-outlet></router-outlet>
   </div>
</body>

</html>